header {
  padding: 2rem 0;
  position: absolute;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #000;
      h1 {
        font-size: 22px;
      }
    }
    nav {
      ul {
        display: flex;
        gap: 20px;

        li {
          a {
            font-size: 20px;
            color: #000;
            text-transform: uppercase;
            font-weight: 300;
          }
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      i {
        font-size: 15px;
        cursor: pointer;
      }

      #menu-icon {
        display: none;
        font-size: 20px;
        color: #000;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header {
      nav {
        // display: none;
        position: fixed;
        width: 50%;
        height: 100%;
        left: -800px;

        &.show {
          left: 0;
        }
      }
      .icons {
        #menu-icon {
          display: block;
        }
      }
    }
  }
}
