header {
  padding: 2rem 0;
  position: absolute;
  width: 100%;
  z-index: 1111;
  transition: all 0.7s;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #000;
      h1 {
        font-size: 22px;
      }
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          a {
            font-size: 20px;
            color: #000;
            text-transform: uppercase;
            font-weight: 300;
          }
        }
        .fa-moon {
          cursor: pointer;
          font-size: 15px;
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      i {
        font-size: 15px;
        cursor: pointer;
      }

      #menu-icon {
        display: none;
        font-size: 20px;
        color: #000;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .header {
      nav {
        // display: none;
        position: fixed;
        width: 50%;
        top: 0;
        height: 100%;
        left: -800px;
        background-color: #f3eeee;
        z-index: 11111;
        transition: all 0.7s;
        ul {
          flex-direction: column;
          gap: 25px;
          padding: 50px 10px;
        }

        &.show {
          left: 0;
        }
      }
      .icons {
        #menu-icon {
          display: block;
        }
      }
    }
  }

  &.header-scroll {
    position: fixed;
    width: 100%;
    z-index: 11111;
    background-color: #f3eeee;
    padding: 1.3rem 0;
  }
}
