* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  //   font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #000;
}

.dark-mode {
  .header {
    color: #fff;
    a {
      color: #fff;
    }
    nav {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
