#banner {
  //   padding: 2rem 0;
  .hero-banner-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-banner-section-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 64px;
        line-height: 60px;
      }
      h6 {
        font-size: 16px;
        letter-spacing: 1.3px;
      }
      h3 {
        font-size: 32px;
        span {
          color: #6c757d;
        }
      }
      .banner-btn {
        display: flex;
        gap: 15px;
        button {
          padding: 10px 25px;
          cursor: pointer;
          text-transform: uppercase;

          &:nth-child(1) {
            border: 1px solid #0068f9;
            color: #0068f9;
            background-color: transparent;
          }
          &:nth-child(2) {
            background-color: #0068f9;
            color: #fff;
            border: 1px solid transparent;
          }
        }
      }
    }
    .hero-banner-section-left {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  @media (min-width: 767px) and (max-width: 1024px) {
    .hero-banner-section {
      flex-direction: column;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .hero-banner-section {
      flex-direction: column;
    }
  }
  @media (min-width: 300px) and (max-width: 480px) {
    .hero-banner-section {
      flex-direction: column;
    }
  }
}
